nav {
    display: flex;
    gap: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 6rem;
    background-color: hsl(0, 3%, 11%);
    color: white;
}

a {
    color: white;
    font-size: 1.4rem;
}

h1 {
    font-size: 4rem;
}